/.buildpath
/.cache
/.project
/.settings
/*.tar
/*.tgz
/*.zip
/www/.htaccess
/www/config.inc.php
/www/faculty/all
/www/wdn
/data/faculty_education.csv
.DS_Store
/UNL_Directory.esproj/
/phpmyadmin
/www/phpmyadmin
/vagrant/dev/.vagrant
/www/robots.txt