.DS_Store
/.buildpath
/.cache
/*.esproj
/.idea
/.project
/.settings
/*.sublime*
/*.tar
/*.tgz
/*.zip
/data/suppress_uids.txt
/data/hr_tree.xml
/data/faculty_education.csv
/data/test-data.inc.php
/data/unl_sis_bio.txt
/data/unl_sis_prog.txt
/node_modules/
/vagrant/dev/.vagrant
/vendor
/www/.htaccess
/www/config.inc.php
/www/css/directory-print.css
/www/faculty/all
/www/less/lib
/www/less/directory.css
/www/robots.txt
/www/wdn
