[submodule "vendor/StaticCache"]
	path = vendor/StaticCache
	url = https://github.com/saltybeagle/StaticCache.git
[submodule "lib/StaticCache"]
	path = lib/StaticCache
	url = https://github.com/saltybeagle/StaticCache.git
