@charset "UTF-8";

@import "directory-icon-embedded.less";

@import "lib/breakpoints.less";
@import "lib/colors.less";
@import "lib/fonts.less";

.search-band {
	text-align: center;
    background: #38431b url(../images/050419.jpg) 50% 50% no-repeat;
    background-size: cover;

    .wdn-input-group {
    	max-width: 30em;
    	margin: 0 auto;
    }

    p {
    	margin-bottom: 0;
    }
}

.heading-block {
	width: 100%;
    margin: 0 0 1rem;
    padding: 1.069em 1.425rem 1em;
    .sans-serif-font();
    font-size: 0.923rem;
    text-transform: uppercase;
    color: #fff;
    background-color: mix(@ui09, @page-background, 95%);

    @media @bp2 {
        padding: 1.069em 1.899rem 1em;
        font-size: 0.802rem;
    }

    a {
        float: right;
        color: #fff;
        margin-left: 0.451em;
    }
}

.card {
    margin-bottom: 1em;
    border-top: 5px solid @ui05;
    background-color: fadeout(#fff, 33%);
    box-shadow: 0 0 0 1px fadeout(@ui14, 90%);
    transition: all 0.2s ease-out;

    .card-content {
    	padding: 0 1.425rem 1.777em;

	    @media @bp2 {
	        padding: 0 1.899rem 2.369em;
	    }
    }

    &:hover {
        border-top: 5px solid @scarlet;
        background-color: #fff;
        box-shadow: 0 0 1px 1px fadeout(@ui14, 80%);
    }

    h1 {
        font-size: 2.618rem;
    }

    h2 {
        font-size: 2.321rem;
    }

    .wdn-subhead {
    	margin-bottom: 0;
    }

    .description {
        margin: 1em 0 0;
        padding-top: 1em;
        border-top: 1px solid @ui04;
    }
}

.help-container,
.results-container {
    background-color: @ui02;
}

.results-container {
    .vcard {
    	max-width: 480px;
    	margin: 0 auto;


        .card-profile {
            background-color: @ui05;
            text-align: center;
            display: block;

            .photo {
                display: block;
                height: 200px;
                margin: 0 auto;
                width: auto;
            }
        }

        .headline {
            font-size: 2.618rem;

            a {
                color: inherit;
                .heading-font();
            }

            [class^="icon-"] {
                visibility: hidden;
                font-size: 0.5em;
            }

            &:hover {
                [class^="icon-"] {
                    visibility: visible;
                }
            }
        }

        .itemprop {
            .sans-serif-font();
            font-size: 0.887rem;
            padding-left: 1.7em;
            text-indent: -1.7em;
            margin-bottom: 0.618rem;

            * {
                text-indent: 0;
            }

            &:before {
                text-indent: 0;
            }
        }

        .adr {
            .type {
                display: none;
            }

            .street-address {
                display: block;
                margin-top: -1.8em;
            }

            .country-name {
                display: none;
            }
        }

        .tel {
            .type {
                display: none;
            }

            a.tel {
                display: block;
                margin-top: -1.8em;
            }
        }

        .sis-title {
            margin: 1em 0;
            .sans-serif-font();
            line-height: 1.333;
            text-transform: uppercase;
            color: @ui08;

            .grade {
                display: block;
            }

            .major, .college {
                font-size: 0.786em;
                display: block;
            }
        }

        .roles {
            list-style: none;
            padding: 0;
            border-bottom: 1px solid @ui04;


            > .org {
                margin: 1em 0;
                .sans-serif-font();
                line-height: 1.333;
                text-transform: uppercase;
                color: @ui08;
            }

            .title {
                display: block;
            }

            .organization-unit {
                display: block;
                font-size: 0.786em;
            }

            .parent-unl {
                .organization-name {
                    display: none;
                }
            }
        }

        .eppa {
            font-style: italic;
        }

        .fn, .n, .icon-link {
            vertical-align: middle;
        }

        button {
            border: 0;
            background: none;
            color: @brand;
        }
    }
}

.directory-head {
	background-color: @ui02;
    .brand-font();
}

.directory-foot {
	margin: 1.777em 0;
    padding-top: 0.75em;
    border-top: 1px solid @ui04;
    text-align: center;
}

.vcard-tools {
	display: flex;
	text-align: center;

	> * {
		flex: 1 1 auto;
		padding: 0.5em;
	}
}

.directory-knowledge-section {
    border-bottom: 1px solid @ui04;
    padding-bottom: 2em;

    &:last-child {
        border-bottom: 0;
    }

    h2 img {
        margin-right: 0.3em;
        width: 0.75em;
    }
}

.directory-knowledge-section-inner {
    list-style: none;

    li {
        margin-bottom: 1em;
    }
}

.knowledge-grid .vcard {
    margin-bottom: 1em;
}
