@charset "UTF-8";

@import "lib/breakpoints.less";
@import "lib/colors.less";
@import "lib/fonts.less";
@import "lib/vars.less";

@import "directory-icon.less";

@inner-band-margin: percentage(-1 * @mobile-pad / (100% - 2 * @mobile-pad));

.search-band {
	text-align: center;
	background: #38431b url(../images/050419.jpg) 50% 50% no-repeat;
	background-size: cover;

	.wdn-input-group {
		max-width: 30em;
		margin: 0 auto;
	}

	p {
		margin-bottom: 0;
	}

	.single & {
		display: none !important;
	}
}

#directory-disclaim {

    a {
    	color: @ui03;
        text-decoration: none;
        text-shadow: none;
        background-color: fadeout(#000, 85%);
        border-radius: 0.317em;
        padding: 0.451em 0.802em;
    }
}

.heading-block {
	width: 100%;
	margin: 0 0 1rem;
	padding: 1.069em 1.425rem 1em;
	.sans-serif-font();
	font-size: 0.923rem;
	text-transform: uppercase;
	color: #fff;
	background-color: mix(@ui09, @page-background, 95%);

	a {
		float: right;
		color: #fff;
		margin-left: 0.451em;
	}
}

.card {
	margin-bottom: 1em;
	border-top: 5px solid @scarlet;
	background-color: #fff;
	box-shadow: 0 0 1px 1px fadeout(@ui14, 80%);
	transition: all 0.2s ease-out;

	.card-content {
		padding: 0 1.425rem 1.777em;

		> *:last-child,
		> .attribute:last-child {
			margin-bottom: 0;
		}
	}

	h1 {
		font-size: 2.618rem;
	}

	h2 {
		font-size: 2.321rem;
	}

	.wdn-subhead {
		margin-bottom: 0;
	}

	.description {
		margin: 1em 0 0;
		padding-top: 1em;
		border-top: 1px solid @ui04;
	}
}

.help-container,
.results-container,
.record-container {
	background-color: @ui02;
}

.help-container {

	.single &,
	.searching & {
		display: none !important;
	}
}

.result_head {
	.sans-serif-font();
	font-size: 0.697em;
}

.pfResult {
	list-style: none;
	padding: 0;
	border-color: @ui04;
	border-style: solid;
	border-width: 1px 0 0;
	background: #fff;
	margin: 1em @inner-band-margin; // push the list to the page edge

	> li {
		padding: 1em;
		border-bottom: 1px solid @ui04;
		cursor: pointer;

		&.selected {

		}

		&:focus {
			box-shadow: 0 0 10px @triad;
		}
	}

	.overflow {
		display: flex;

		> .profile_pic {
			width: 40px;
			min-width: 40px;
			margin-right: 1em;
		}

		> .recordDetails {
			flex: 1 1 auto;
			align-self: center;
		}

		.photo {
			border-radius: 50%;
			margin-top: 0.375em;
			width: 100%;
			height: 40px;
			object-fit: cover;
		}
		.roles {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				margin-bottom: 0.618rem;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.title,
			.organization-unit {
				display: block;
			}

			.organization-name {
				display: none;
			}
		}
	}

	.fn {
		font-size: 1.128em;
		font-weight: bold;
	}

	.given-name {
		margin-left: 1em;
		font-size: 1rem;
		.sans-serif-font();
		text-transform: uppercase;
		color: @ui08;
	}
}

#all_employees ~ .pfResult {

	.overflow {
		.organization-unit {
			display: none;
		}
	}
}

.results-container {
	display: none !important;

	&.empty-filters {

		#filters,
		.summary {
			display: none;
		}

		#results {
			width: 100%;
		}
	}

	.searching & {
		display: block !important;
	}

	.results {

		.vcard {
			position: relative;
			margin-top: 1em;
			
			//Don't visually display by default, but keep it in the tab order
			button.close-full-record {
				position: absolute;
				right: 999em;
				display: block;
				color: #fff;
			}

			//on focus (via keyboard), visually display it
			button.close-full-record:focus {
				position: absolute;
				z-index: 5;
				right: 0;
			}
		}
	}

	.dep_result {

		.title {
			font-style: italic;
		}
	}
}

.record-container {

	.results-container ~ &,
	.searching & {
		display: none !important;
	}

	.record-single {
		display: none;
	}

	.single & {
		display: block !important;

		.knowledge-grid,
		.record-single {
			display: block;
		}
	}

	.vcard .headline a {
		color: inherit;
	}
}


#results,
.filter-options {

	&:focus {
		outline: none;
	}
}

#filters {

	h2 {
		margin-top: 0;
	}

	.filters {
		line-height: 1.425;
		.sans-serif-font();
	}

	input {
		margin-right: 0.2em;
	}

	button {
		border: 0;
		border-bottom: 1px solid @ui04;
		padding: 0;
		background: none;
		text-transform: uppercase;
		text-align: left;
		display: block;
		margin-bottom: 1em;
	}

	ol {
		list-style: none;
		padding: 0;
	}

	li {
		text-indent: -1.3em;
		padding-left: 1.3em;
		margin-bottom: 0.5em;
	}
}

#results {

	> *:first-child {
		margin-top: 0;
	}
}

.results-container,
.record-container {

	.vcard {
		max-width: 480px;
		margin: 0 auto;


		.card-profile {
			background-color: @ui05;
			text-align: center;
			display: block;

			.photo {
				display: block;
				height: 200px;
				margin: 0 auto;
				width: auto;
			}
		}

		.headline {
			font-size: 2.618rem;
			line-height: 1;
			margin-top: 1em;
			margin-bottom: 1rem;

			a {
				.heading-font();
			}

			+ .title {
				margin: 1em 0;
			}
		}

		.attribute {
			.sans-serif-font();
			font-size: 0.935rem;
			padding-left: 1.7em;
			text-indent: -1.7em;
			margin-bottom: 0.618rem;

			* {
				text-indent: 0;
			}

			&:before {
				text-indent: 0;
			}
		}

		.adr {

			.type {
				display: none;

				+ * {
					margin-top: -1.8em;
					display: block;
				}
			}

			.street-address {
				display: block;
			}

			.country-name {
				display: none;
			}
		}

		.tel {

			.type {
				display: none;
			}

			a.tel {
				display: block;
				margin-top: -1.8em;
			}
		}

		.sis-title {
			margin: 1em 0;
			.sans-serif-font();
			line-height: 1.333;
			text-transform: uppercase;
			color: @ui08;

			.grade {
				display: block;
			}

			.major,
			.college {
				font-size: 0.786em;
				display: block;
			}
		}

		.roles {
			list-style: none;
			padding: 0;
			margin: 1em 0;
			border-bottom: 1px solid @ui04;

			> .org {
				margin: 1em 0;
				.sans-serif-font();
				line-height: 1.333;
				text-transform: uppercase;
				color: @ui08;
			}

			.title {
				display: block;
			}

			.organization-unit {
				display: block;
				font-size: 0.786em;
			}

			.parent-unl {

				.organization-name {
					display: none;
				}
			}
		}

		.eppa {
			font-style: italic;
			margin: 1em 0;
		}

		.fn,
		.given-name,
		.icon-link {
			vertical-align: middle;
		}

		.given-name {
			margin-left: 1em;
			font-size: 1rem;
			.sans-serif-font();
			text-transform: uppercase;
			color: @ui08;
		}

		button {
			border: 0;
			background: none;
			color: @brand;

			&:focus {
				outline: 1px dotted;
			}
		}
	}
}

.wdn_annotate_note {
	width: 100%;
	height: 100%;
	border: 0;
}

.directory-head {
	background-color: @ui02;
	.brand-font();
}

.directory-foot {
	margin: 1.777em 0;
	padding-top: 0.75em;
	border-top: 1px solid @ui04;
	text-align: center;
}

.department-correction {
	border-top: 1px solid #eae9e6;
	font-size: .697em;
}

.vcard-tools {
	display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
	text-align: center;
	font-size: 0.935rem;
	border-top: 1px solid @ui04;

	a,
	button {
		flex: 1 1 auto;
		display: block;
		padding: 0;
		line-height: 1.333;
		color: @brand;
	}

	a:visited,
	a:hover {
		color: @brand;
	}

    &.primary {
        .sans-serif-font();
        flex-flow: row wrap;

        span[class^='icon-'] {
            display: block;
            font-size: 1.618rem;

        	&:before {
                margin-right: 0;
            }
        }
    }
}

.directory-knowledge-section {

	& + & {
    	margin-top: 2.369em;
    	border-top: 1px solid @ui04;
	}

    h2 {
        position: relative;
        padding-left: 3.157rem;

        > span[class*='icon-'] {
            position: absolute;
            left: 0;
        }
    }
}

.directory-knowledge-section-bio {
	margin-top: 2.321em;
}

.directory-knowledge-section-inner {
    margin: 1.333em 0;
    padding-left: 3.157rem;
	list-style: none;

	li + li {
		margin-top: 1em;
	}
}

.knowledge-grid .vcard {
	margin-bottom: 1em;
}

#editBox {

	.icon-help:before {
		font-size: 1rem;
		vertical-align: middle;
	}

	.aliases,
	.users {
		ul {
			list-style: none;
			padding: 0 0 1em;
			border-bottom: 1px solid @ui04;
			margin-bottom: 1em;

			li {
				padding: .5em 0;
				clear: both;
			}

			form {
				float: right;
			}
		}
	}

	.forms {
		display: none;
	}
}

#listings {
	margin: 1em @inner-band-margin;

	h2 {
		background-color: #FFFFCC;
		margin: 0;
		padding: 1em 1.899rem 1rem;
	}

	.editing {
		li {
			position: relative;

			.listingDetails {
				min-height: 2.313em; // ensure the positioned edit button has clearance
				margin-right: 4em;
			}

			.tools {
				position: absolute;
				top: 0.5em;
				right: 0;
			}
		}

		.forms {
			display: none;
		}
	}

	.ui-sortable {
		li > div {
			cursor: move;
		}
	}

	> ol > li:first-child {
		padding-top: 0;
	}

	ol {
		list-style: none;
		padding: 0;

		li {
			border-bottom: 1px dotted @ui04;
			padding: 0.5em 0;
		}

		ol {
			padding-left: 1.5em;

			li {
				border-left: 1px dotted @ui04;
				padding: 0.5em 0 0.5em 0.5em;

				&:last-child {
					border-bottom: 0;
					margin-bottom: -0.5em;
				}
			}
		}
	}

	.phone,
	.website,
	.email,
	.room,
	.adr,
	.postal-code {
		display: block;
	}
}

.modal-overlay {
	display: flex;
	background-color: fadeout(#fff, 25%);
	position: fixed;
	visibility: hidden;
	opacity: 0;
	z-index: 300;
	overflow: auto;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	transition: opacity 400ms, visibility 400ms;

	&.show {
		visibility: visible;
		opacity: 1;
		transition: opacity 400ms, visibility 0s;
	}

	.modal-content {
		width: 90%;
		max-width: 780px;
		max-height: 70vh;
		padding: 0 7.1%;
		background-color: #FFF;
		position: relative;
		overflow-y: auto;
		overflow-x: hidden;
		margin: auto;
		box-shadow: 0 0 1px 1px fadeout(@ui14, 80%);

		&:focus {
			outline: 0;
		}

		.cancel {
		    display: block;
		    position: absolute;
		    top: 1em;
		    right: 0.618em;
		    border: 0px none;

		    &:before {
		    	margin: 0;
		    }
		}

		.icon-trash {
			margin: 1em 0;
		}

		.forms {
			margin: 8% 0;

			.delete, .sortform {
				display: none;
			}

			.add-form {
				display: none;
			}

			&.show-add {
				> * {
					display: none;
				}

				.add-form {
					display: block;
				}
			}
		}
	}
}

#orgChart {
	text-align: center;

	ul {
		list-style: none;
		padding: 0;

		li {
			margin-bottom: 0.618rem;
		}

		&:before {
			font-size: 1.435em;
		}
	}

	.org-unit {
		display: block;
		font-style: italic;
		font-size: 0.786em;
		color: @ui10;
	}
}

.corrections-template {
	display: none;
}

// Manually hide
[data-uid="kfarrell2"] .given-name {
	display: none;
}

/**
TODO: remove once fixed in framework
Temp fix for mobile rendering of nav items. New updates do not work so well with framework hide classes.
This is a bandage until the issue is addressed in the framework
**/
@media @bp-nav-hidden {

	.hide-wdn_navigation_wrapper #wdn-main-share-button {
		margin-left: 6em;
		height: 40px;
	}

	.hide-wdn_navigation_wrapper .wdn-menu-trigger {
		height: 40px;
	}
}

@media @bp768 {

    .heading-block {
		padding: 1.069em 1.899rem 1em;
		font-size: 0.802rem;
	}

    .card {

	    .card-content {
			padding: 0 1.899rem 2.369em;
		}
	}

    .pfResult {
		margin-left: 0;
		margin-right: 0;
		border-width: 1px 1px 0;
	}

    .results-container,
    .record-container {

        .vcard {

            .attribute {
                font-size: .8rem;
            }
        }
    }

    .vcard-tools {
        font-size: .75rem;
    }

    #listings {
		margin: 0;
	}
}

@media (min-width: 48em) and (max-width: 80em) {

    .vcard-tools.primary {

        a,
        button {
            flex: 1 1 50%;

            &:nth-child(-n+2) {
                margin-bottom: .75em;
            }
        }
    }
}

@import "directory-print.less";
