[Unit]
Description=Avatar Worker Script
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=1
ExecStart=/usr/bin/php /var/www/html/directory.unl.edu/scripts/avatar_worker.php

[Install]
WantedBy=default.target

