/* 
***************************************************

        Individual Officefinder Records

***************************************************
*/
#maincontent #pfShowRecord .wdn_tabs, #maincontent #pfShowRecord .wdn_tabs_content {display:none;}
.vcard.office{
    background:none;
    border:none;
    padding:0;
}
.vcard.office .departmentInfo {
    background:none;
    padding:0;
    max-width:430px;
    margin-bottom:0;
}
    

.vcard.office .frame{float:left;max-width:100px;}

.departmentInfo {
    margin-bottom:25px;
    overflow:auto;
    position:relative;
}
.summary {position:relative;}
.summary h4 {display:none;}
.departmentInfo:hover:before {
    font-size:150%;
    font-weight:bold;
    color:#95B8CC; 
    position:absolute;
    bottom:0;
    left:0;
    content: attr(data-orgunit);
    z-index:1;
}
.departmentInfo .fn a, .departmentInfo .fn{max-width:none;}

#maincontent .departmentInfo .photo {
    float:left;
    margin-right:20px;
}
.departmentInfo .adr {margin:0 0 15px 0;}

#listings + h2, #listings + h2 + p{display:none;}


#maincontent #orgChart h3 {font-variant:normal;background:url('images/iconOrg.png') no-repeat 0 7px; padding-left:22px;margin-bottom:36px;border-bottom:none;}

#maincontent #orgChart ul {
    list-style:none;
    padding:0;
    margin:0;
    font-size:1.2em;
    text-align:center;
    font-weight:bold;
}
#maincontent #orgChart ul {
    margin-top:9px; 
}
#maincontent #orgChart > ul > li > ul > li > a{
    font-size:55%;
}
#maincontent #orgChart > ul  li > ul {
    padding-top:36px;
    background-image:url('images/iconDown.png');
    background-repeat:no-repeat;
    background-position:top center;
}
#maincontent #orgChart > ul > li > ul {
    font-size:155%;
    line-height:110%;
}
#maincontent #orgChart  ul li ul li ul {
    font-size:55%;  
}
/*
************************************

    For the listings

************************************
*/
.wdn_tabs_content {position:relative;}
.loading{right:120px;}
#listings > ul.listings > li {
    padding:5px 5px 0px 0px;
    border-bottom: 1px dotted #d0cece;
    list-style:none;
    min-height:20px;
}
#maincontent ul.listings li ul {
    padding:0px 5px;
    padding-top:1px;
    margin:3px 0px;	
    padding-left:20px;
    list-style:none; 
}
#maincontent ul.listings li ul li {
	border-bottom:1px dotted #c4c2c2;
    border-left:2px dotted #e6e6e6;
    padding:3px;
}
#maincontent ul.listings li ul li:last-child {
    border-bottom:none;	
}
ul.listings li:hover {
}
ul.listings li .listingDetails {
    
}
.listing .tel{display:block;}
.dep_result .departmentInfo {
    background:#fff;
    border:1px solid #dad6b4;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    display:block;
    width:75%;
    margin:0 auto;
    padding:10px;
}