/*
************************************

    For the editing interfaces

************************************
*/
#listings li div.edit {
    display:none;
    float:right;
}
#listings li:hover > div.edit {display:block;}
#listings li div.edit form {display:none;}
#listings li div.edit a,
#editBox ul li a {
    display:inline;
    font-size:0.8em;
    text-indent:-9999px;
    width:16px;
    height:16px;
    margin:2px;
    float:left;
}
#maincontent a.action.edit {
    background: url('images/iconEdit.png') no-repeat 0 0;
}
#maincontent a.action.delete {
    background: url('images/iconTrash.png') no-repeat 0 0;
}
#maincontent a.action.addchild {
    background: url('images/iconOrg.png') no-repeat 0 0;
}
#listings li:hover div.edit {
    display:block;
}
#maincontent #listings li:hover {
    cursor:move;
}

#editBox {
    float:right;
    padding:5px;
    width:290px;
    border:1px solid #BDAB61;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
#editBox ul li a {
	float:right;
}
#editBox input[type='text'] {
	width:125px;
}
#editBox div.aliases {
    width:135px;
    float:left;
    padding-right:5px;
}
#editBox div.users {
    width:135px;
    float:right;
    padding-left:5px;
}
#editBox ul.dept_users,
#editBox ul.dept_aliases {
    list-style: none;
    padding:0;
}
#editBox ul.dept_users li,
#editBox ul.dept_aliases li {
    padding:2px 5px;
}
#editBox ul.dept_users li:not(:last-child),
#editBox ul.dept_aliases li:not(:last-child) {
    border-bottom:1px dashed #bdab61;
}
#editBox form.delete {
    display:none;
}

#departmentDisplay {
    float:left;
    width:570px;
}
#departmentDisplay ul.edit_actions {
	display:inline;
	padding:0;
}
#departmentDisplay ul.edit_actions li {
	display:inline;
}
#departmentDisplay ul.edit_actions li a {
	width:16px;
	height:16px;
	margin:0 0 0 4px;
	text-indent:-9999px;
	display:inline-block;
	position:relative;
	top:2px;
}
/*********************** COLORBOX ************************/
#cboxTitle {
    display:none !important;
}