/*
************************************

    For the editing interfaces

************************************
*/
#listings li div.edit {
	padding:5px;
	margin-top:-2px;
	position:absolute;
	margin-left:-43px;
	display:none;
}
#listings li:hover > div.edit {display:block;}
#listings li div.edit form {display:none;}
#listings li div.edit a {
	display:inline;
	font-size:0.8em;
}
#listings li div.edit a.action.delete {
    text-indent:-99999px;
    background: url('images/iconTrash.png') no-repeat 0 0;
    width:12px;	
    margin:0 2px;
    float:right;
}
#listings li:hover div.edit {
    display:block;	
}
#maincontent #listings li:hover {
    cursor:move;	
}
/*
#maincontent #listings li:hover ul {
    border-top:1px dotted #c4c2c2;
    padding-top:0px;
}
*/