/*filter box*/
#filters {
	margin-top:40px;
	clear:both;
	background: #f5f0dd;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    display:none;
}
.wdn_filterset {
    padding:10px;	
}
#filters h4 {
	text-shadow: 0px 1px 0 #f7f5ee;
	font-size:2em;
	line-height:1em;
	font-weight:bold;
	color:#65553f;
	border-bottom: 2px solid #c7ad89;
	padding:10px;
	padding-bottom:0;
	margin:-10px;
	margin-bottom:20px;
	background: rgba(199, 173, 137, 0.18);
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.28) 67%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(67%,rgba(255,255,255,0.28)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.28) 67%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.28) 67%,rgba(255,255,255,0) 100%); /* Opera11.10+ */
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.28) 67%,rgba(255,255,255,0) 100%); /* IE10+ */
	background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.28) 67%,rgba(255,255,255,0) 100%); /* W3C */
    -webkit-box-shadow: 0px 1px 0 #fff;
    -moz-box-shadow: 0px 1px 0 #fff;
    box-shadow: 0px 1px 0 #fff;
}
form.filters {color:#65553f;margin-top:15px;}
form.filters fieldset {margin-bottom:10px;}
form.filters legend {width:100%; border-bottom:1px solid #c7ad89;font-weight:bold;margin-bottom:10px;font-size:1.1em;}
form.filters div.element {display:inline;}
form.filters input[type="checkbox"] {width:20px;float:left;margin-left:-4px;}
form.filters label {display:inline;margin-left:0px;font-size:0.9em;}
form.filters ol li {clear:both;}
#maincontent form.filters ol {list-style:none;padding-left:0px;}
form.filters ol li.disabled {opacity: 0.5;filter:alpha(opacity=50);}
form.filters ol li.disabled label {text-decoration: line-through;}
form.filters ol li:first-child {font-weight:bold;}

#maincontent #filterSummary {
    font-size:0.8em;
    line-height:2em;
    margin-top:15px;
}
#filterSummary a {
    background:#efefef;
    padding:0 3px;
    font-size:0.9em;
    color:#6e6e6e;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    display:inline-block;
    margin:1px;
}
#filterSummary .group {
    font-weight:bold;
    background-color:#efefef;
    color:#4e4e4e;
    font-size: 1.1em;
    font-style:italic;
}
form.filters.loading {
    display:block;	
    left:80px;
    top:40px;
}
form.filters.loading fieldset {
    display:none;
}
span.operator:last-child{display:none;}