/*
#maincontent form#form1 {
    margin-bottom:20px;
}
#maincontent form#form1 input#q{
    background:#eee;
    border:1px solid #ccc;
    border-color:#c3c3c3 #eee #eee #c3c3c3;
    color:#333;
    padding:1px 2px;
}
#maincontent ul{
    list-style:none;
    padding:0;
    margin-bottom:5px;
    border-top:1px solid #ddd;clear:both;
}
#maincontent ul li.ppl_Sresult,
#maincontent ul li.org_Sresult{
    border-bottom:1px solid #ddd;
    padding:0.7em 0 0.7em 0.7em;
    border-left:1px solid #ccc;
}
#maincontent ul li.ppl_Sresult:hover,
#maincontent ul li.ppl_Sresult.alt:hover,
#maincontent ul li.org_Sresult:hover,
#maincontent ul li.org_Sresult.alt:hover{
    background:#EBF6FF;
    border-bottom:1px solid #d3d3d3;
}
#maincontent ul li.ppl_Sresult.alt,
#maincontent ul li.org_Sresult.alt{
    background:#FAFAFA;
}
#maincontent ul li.ppl_Sresult div.tel,
#maincontent ul li.org_Sresult div.tel{
    background:url(images/mobile.gif) no-repeat 0 0.75em;
    padding:0.5em 0 0 1em;
    position:relative;
    color:#333;
}
#maincontent ul li.org_Sresult .organization-unit {
    clear:both;
}
#maincontent ul.department li.ppl_Sresult .organization-unit {
    display:none;
}
#maincontent .fn{
    float:left;
    margin-right:0.2em;
}
#maincontent .result_head{
    position:relative;
    padding-bottom:0.4em;
    font-weight:bold;
}
#maincontent .cMatch{
    background:#ffffcc;
    margin:1em 0 1em 0;
    padding:0.5em;
    border:1px solid #d0c8a5;
}
#maincontent .cMatch p {
    margin:0;
}
#maincontent .cNav{
    position:absolute;
    right:0;
    top:0;
    font-weight:normal;
    letter-spacing:-0.1em;
}
#maincontent a.next, #maincontent a.previous{
    background:#eee;
    border:1px solid #eee;
    border-color:#eee #ccc #ccc #eee;
    margin-left:3px;
    padding:0;
}
#maincontent a.cInfo{
    padding:0 0 0 1em;
    margin-left:0.8em;color:#555;text-decoration:underline;
}
#maincontent ul li.ppl_Sresult a.cInfo {
    background:url(images/person.gif) no-repeat 0 3px;
}
#maincontent ul li.org_Sresult a.cInfo {
    background:url(images/home.gif) no-repeat 0 3px;
}
#maincontent .eppa{
    font-size:0.75em;
    margin-top:0.2em;
}
*/
/** Individual Record */
/*
#maincontent .vcard{
    border:1px solid #d3d3d3;
    margin-top:8px;
}
#maincontent .vcard .photo{
    float:right;
}
#maincontent .vcard .fn{
    color:#900;
    margin-bottom:2px;
    padding:8px 0px 2px 5px;
}
#maincontent .vcard .eppa {
    float:left;
    margin-top:10px;
}
#maincontent .vcardInfo{
    clear:both;
    background: #FAFAFA;
    padding:6px;
    position:relative;
    border-top:2px solid #E3E3E3;
}
#maincontent .vcard .adr, #maincontent .vcard .tel{
    margin-top:10px;
    margin-bottom:10px;
    font-size:0.9em;
}
#maincontent .type{
    font-weight:bold;
}
#maincontent .value{
    display:block;
}
#maincontent a.downloadVcard{
    position:absolute;
    bottom:0;
    right:0;
    margin:0 6px 4px 0;
}

#maincontent span.email {
    display:block;
    line-height:1.5em
}
*/
#maincontent ul.pfResult {
	width:460px;
	padding:0px;
	list-style:none;
	border-bottom: 1px solid #e6e6e6;
	border-top: 2px dotted #e6e6e6;
	margin-top:20px;
}
#maincontent ul.pfResult li {
	border-bottom: 1px solid #d0cece;
	border-top: 1px solid #e6e6e6;
	width:100%;
	padding: 5px 0px;
	display:block;
	cursor:pointer;
}
#maincontent ul.pfResult li div.overflow {
	margin-right:-16px;
	min-height:45px;
	padding: 7px 0px;
}
#maincontent ul.pfResult li:hover div.overflow {
	background:url('images/selectedBG.png') no-repeat left;
}
#maincontent ul.pfResult li:first-child {
	border-top:none;
}
.eppa, .organization-unit, .tel, .type {display:none;} /* @todo hiding for now, perhaps these need to be pulled out of HTML in lis? */

.planetred_profile, .recordDetails {float:left;}
.recordDetails {
	margin-left:20px;
}
.fn a, .fn {
	font-size:1.4em;
	font-weight:bold;
	color:#464545 !important;	
}
.cInfo {float:right;margin-right:16px;}

/*


Individual Records


*/
.vcard {
	background:#e7f4f9;
	border:2px solid #eaeaea;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:15px;
}
.vcard a.email {
	
}
.vcard .eppa, .vcard .organization-unit, .vcard .tel {display:block;}
.vcard a.planetred_profile {
	float:left;
	margin-right:15px;
}
.vcard .eppa {font-style:italic;font-size:0.8em;}
.vcardInfo {margin-left:129px;}
.vcard .adr {
	border-left:2px solid #b7b7b7;
	padding-left:5px;
	margin:5px 0;	
}
.vcard .tel, .vcard span.email {
	background:url('images/iconContactSprite.png') no-repeat;
	padding-left:25px;
	height:20px;
}
.vcard span.email {
	background:url('images/iconContactSprite.png') no-repeat 0 -21px;
	display:block;
	margin-top:5px;
}
a.email {background:none;}

/* 
***************************************************

		Search form 

***************************************************
*/
#form1 {
	width:940px;
	background:url('images/formSearchBG.png') repeat-x top;
}
#form1 legend {display:none;}
#form1 ol{
	list-style:none;
	display:block;
	margin:0px;
	background:url('images/formSearchEnds.png') no-repeat 0 -58px;
}
#form1 ol li:first-child{
	background:url('images/formSearchEnds.png') no-repeat top right;
	height:46px;
	padding:11px 0px 0px;
	margin-left:-13px;
}
#form1 ol li label#queryString {
	position:absolute;
	top:20px;
	left:32px;
	font-size:1.5em;
	color:#98999a;
}
#form1 ol li:first-child input[type=text] {
	width:364px;
	height:31px;
	border:1px solid #dad09a;
	font-size:1.5em;
	color:#98999a;
	padding:5px 0 0 8px;
	
}
#form1 ol li:first-child input[type=image] {
	margin-bottom:-10px;
	padding-left:5px;
}
li#filters {margin-left:-13px;padding:0;color:#7b6d1f;font-weight:bold;}
li#filters fieldset {
	background:#f5f1db url('images/formFilterBG.png') repeat-x;
	border:1px solid #efebd4;
	width:450px;
	margin-left:-12px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	padding-top:5px;
}
#form1 li#filters span {
	float:left;
	margin-left:12px;
	}
#form1 li#filters ol {
	font-size:0.8em;
	float:left;
	background: none;
	padding-bottom:5px;
}
#form1 li#filters ol li {background:none;display:inline;padding-right:15px;}
