/* 
***************************************************

		Result List Listings

***************************************************
*/
#maincontent #results {min-height: 300px;}
#maincontent ul.pfResult {
	padding:0px;
	list-style:none;
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #d0cece;
	margin-top:20px;
}
#maincontent ul.pfResult li {
	border-bottom: 1px solid #d0cece;
	border-top: 1px solid #e6e6e6;
	width:100%;
	padding: 5px 0px;
	display:block;
}
#maincontent ul.pfResult li div.overflow {
	min-height:45px;
	padding: 7px 5px;
    cursor:pointer;
}
#maincontent ul.pfResult li.selected div.overflow {opacity:0.4}
#maincontent ul.pfResult li:hover, #maincontent ul.pfResult li.selected {
	background:#ecf4f9;
}
#maincontent ul.pfResult li.selected .vcard {display:none;}
.eppa, .organization-unit, .tel, .type {display:none;}


.planetred_profile, .recordDetails {float:left;}
.loading {
    background:url('images/loading.gif') no-repeat top left;
    height:40px;
    width:40px;
    float:left;
    position:absolute;
    right:250px;
    display:none;	
}
.recordDetails {
	margin-left:20px;
}
.fn a, .fn {
	font-size:18px;
	font-weight:bold;
	color:#464545 !important;	
	max-width:530px;
	max-height:35px;
	min-height:20px;
	overflow:hidden;
}
.departments .fn, .departments .fn a {height:42px;max-height:42px;line-height:20px;}
.cInfo {float:right;}

#maincontent .results {margin-top:15px;}
#maincontent .likeResults ul.pfResult {margin-top:0px;}

#maincontent .result_head {color:#989898;font-size:10px;}
/* Headings */


#maincontent .results h2, #maincontent .likeResults h3, #maincontent #orgChart h2 {
	font-variant:small-caps;
	font-weight:bold;
}
#maincontent .results h2, #maincontent #orgChart h2 {border-bottom:2px dotted #E6E6E6;padding-bottom:0;}

#maincontent .likeResults h3 {
	font-size:1em;	
}
#maincontent #pfShowRecord .wdn_tabs, #maincontent #pfShowRecord .wdn_tabs_content {display:none;}

/*
OfficeFinder listings
*/
#maincontent ul.listings {padding:0;list-style:none;}
ul.listings li {
    margin-bottom:7px;
    clear:both;
    padding-bottom:5px;
}
ul.listings li .listingDetails {}
.listing .tel{display:block;}
/* 
***************************************************

		Individual Peoplefinder Records

***************************************************
*/
.vcard {
	background:#fff;
	border:1px solid #ccd2d5;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:15px;
	min-height:130px;
	position:relative;
	width:425px;
	z-index:9;
	margin:0 auto;
}
.vcard > a.email {
	
}
.vcard .eppa, .vcard .epa, .vcard .organization-unit, .vcard .tel, .vcf, .title {display:block;}
.vcard a.planetred_profile {
	float:left;
	margin-right:15px;
	min-width:114px;
}
.vcard .eppa, .vcard .epa {font-style:italic;font-size:0.8em;}
.vcardInfo {margin-left:129px;}
.vcard .adr, .departmentInfo .adr {
	border-left:2px solid #b7b7b7;
	padding-left:5px;
	margin:5px 0;	
}
.vcard .tel, .vcard span.email, .vcard span.url, .departmentInfo .tel, .departmentInfo span.email, .departmentInfo span.url {
	background:url('images/iconContactSprite.png') no-repeat;
	padding-left:25px;
	height:20px;
}
.vcard span.email, .vcard span.url, .departmentInfo span.email, .departmentInfo span.url {
	background-position:0 -21px;
	display:block;
	margin-top:5px;
	margin-bottom:3px;
}
.vcard span.url, .departmentInfo span.url {
    background-position:0 -42px;
}
a.email {background:none;}
a.text-vcard{padding-left:24px;padding-right:0;background-position:left -2px;margin:121px 0 0 -122px;float:left;}
/* 
***************************************************

        Individual Officefinder Records

***************************************************
*/
#maincontent #pfShowRecord .wdn_tabs, #maincontent #pfShowRecord .wdn_tabs_content {display:none;}
.vcard.office{
	background:#ede8b2;
	border-color:#e6d793;
}
.vcard.office .departmentInfo {
	background:none;
	padding:0;
	max-width:430px;
	margin-bottom:0;
}
	

.vcard.office .frame{float:left;max-width:100px;}

#maincontent h2.fn {
    font-size:18px;
    font-weight:bold;
    color:#464545 !important; 
}
.departmentInfo {
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background:#fbeca5;
    background-image: url('images/tornSpiral.png'), -moz-linear-gradient(    right center,    rgb(237,232,178) 83%,    rgb(230,215,147) 96%);
    background-image: url('images/tornSpiral.png'), -webkit-gradient(    linear,    right top,    left top,    color-stop(0.83, rgb(237,232,178)),    color-stop(0.96, rgb(230,215,147)));   	
    background-repeat:no-repeat;
    padding:20px 20px 20px 45px;
    width:875px;
    margin-bottom:25px;
}
.departmentInfo .fn a, .departmentInfo .fn{max-width:none;}
.departmentInfo .tel {display:block;}
#maincontent .departmentInfo .photo {
	float:left;
	margin-right:20px;
}
.departmentInfo .adr {margin:0 0 15px 0;}
.departmentInfo .edit {float:right;}

#employees > h2, #employees > p{display:none;}


#maincontent #orgChart h2 {font-variant:normal;background:url('images/iconOrg.png') no-repeat 0 7px; padding-left:22px;margin-bottom:36px;}

#maincontent #orgChart ul {
	list-style:none;
	padding:0;
	margin:0;
	font-size:1.2em;
	text-align:center;
	font-weight:bold;
}
#maincontent #orgChart ul {
    margin-top:9px;	
}
#maincontent #orgChart > ul > li > ul > li > a{
	font-size:55%;
}
#maincontent #orgChart > ul  li > ul {
    padding-top:36px;
    background:url('images/iconDown.png') no-repeat top center;
}
#maincontent #orgChart > ul > li > ul {
    font-size:155%;
    line-height:110%;
}
#maincontent #orgChart  ul li ul li ul {
    font-size:55%;	
}
/* 
***************************************************

		Search form 

***************************************************
*/
.directorySearch {
	width:940px;
	background:url('images/formSearchBG.png') repeat-x top;
	margin:15px 0 10px 0;
}
.directorySearch legend {display:none;}
#maincontent form.directorySearch ol{
	list-style:none;
	display:block;
	margin:0px;
	background:url('images/formSearchEnds.png') no-repeat 0 -58px;
	position:relative;
}
.directorySearch ol li:first-child{
	background:url('images/formSearchEnds.png') no-repeat top right;
	height:46px;
	padding:0px;
	margin-left:-13px;
	margin-bottom:11px;
}
.directorySearch > fieldset > ol > li > label {
	position:absolute;
	top:22px;
	left:23px;
	font-size:1.5em;
	color:#98999a;
	cursor:text;
}
.directorySearch ol li:first-child input[type=text] {
	width:440px;
	height:31px;
	border:1px solid #dad09a;
	font-size:1.5em;
	color:#98999a;
	padding:5px 0 0 8px;
	margin-top:10px;
	
}
.directorySearch ol li:first-child input[type=image] {
	margin-bottom:-7px;
	padding-left:5px;
}
li#filters {margin-left:-13px;padding:0;color:#7b6d1f;font-weight:bold;display:none;}
li#filters fieldset {
	background:#f5f1db url('images/formFilterBG.png') repeat-x;
	border:1px solid #efebd4;
	width:500px;
	margin-left:-12px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	padding-top:5px;
}
.directorySearch li#filters span {
	float:left;
	margin-left:12px;
	}
.directorySearch li#filters ol {
	font-size:0.8em;
	float:left;
	background: none;
	padding-bottom:5px;
}
.directorySearch li#filters ol li {background:none;display:inline;padding-right:15px;}

/* 
***************************************************

       Intro Page 

***************************************************
*/
#maincontent .intro, #maincontent .intro{
    background-image:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.10, rgba(255,255,255, .3)),
    color-stop(1, rgba(237,237,237, .8))
);
background-image:-moz-linear-gradient(
    center bottom,
    rgba(255,255,255, .3) 10%,
    rgba(237,237,237, .8) 100%
);
padding:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.intro img.profile_pic{float:left;}
h6.recordDetails {margin-top:15px;}
h6.recordDetails span {
    font-size:3.6em;
    font-weith:bold;
    display:block;
    margin-top:-6px;
}
.intro_support {
    height:150px;
    padding:25px 200px 0 0;	
}
#maincontent .intro_support {
	background:url('images/samplePeople.png') no-repeat bottom right;
	padding-top:10px;
}