#maincontent a#reportProblem {
	position:absolute;
	bottom:0;
	right:0;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:3px 5px;
	background:#ac0302;
	color:#fff;
	font-size: 0.7em;
	text-transform:uppercase;
	font-weight:bold;
}
#maincontent a#reportProblem:focus{
	color:#fff !important;
}
#maincontent #commentProblem {display:none;}
#commentProblem h3 {
	font-size:150%;
	border-bottom: 1px solid #ddd;
	margin-bottom:5px;
}
#commentProblem textarea {
	width:90%;
	display:block;
	height:120px;
	margin:10px 0;
}
#commentProblem input[type=submit] {
	background:url('/wdn/templates_3.0/css/content/images/zenform/submit.png') right #af0202 no-repeat;
	border:3px solid #fff;
	color:#FFFFFF;
	cursor:pointer;
	font-size:1.2em;
	margin:10px 10px 20px 0px;
	padding:10px 36px 10px 16px;
	width:auto;
	min-height:39px;
	-moz-border-radius:9px/10px;
	-webkit-border-radius:9px 10px;
	border-radius:9px/10px;
	display:inline;
}
/* 
***************************************************

	Result List Listings

***************************************************
*/
#maincontent #results {min-height: 300px;margin-bottom:35px;}
#maincontent ul.pfResult {
	padding:0px;
	list-style:none;
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #d0cece;
	margin-top:20px;
}
#maincontent ul.pfResult li {
	border-bottom: 1px solid #d0cece;
	border-top: 1px solid #e6e6e6;
	width:100%;
	padding: 5px 0px;
	display:inline-block;
}
#maincontent ul.pfResult li div.overflow {
	min-height:47px;
	padding: 7px 5px;
	cursor:pointer;
}
#maincontent ul.pfResult li.selected div.overflow {opacity:0.4;filter:alpha(opacity=40);}
#maincontent ul.pfResult li:hover, #maincontent ul.pfResult li.selected {
	background:#ecf4f9;
}
#maincontent ul.pfResult li.selected .vcard {display:none;}
.eppa, .organization-unit, .tel, .type {display:none;}
#maincontent ul.pfResult .tel {display:block;}
#maincontent .on-campus-dialing {font-size:80%;text-transform:uppercase;color:#897B42;}

.planetred_profile, .recordDetails {float:left;}
.loading {
	background:url('images/loading.gif') no-repeat top left;
	height:40px;
	width:40px;
	float:left;
	position:absolute;
	right:250px;
	display:none;	
}
.recordDetails {
	margin-left:20px;
	max-width:540px;
}
.fn a, .fn {
	font-size:18px;
	font-weight:bold;
	color:#464545 !important;	
	max-width:290px;
	max-height:35px;
	min-height:20px;
	overflow:hidden;
}
.three_col.right .fn, 
.three_col.right .fn a {
	max-width:540px;
}
.departments .fn, .departments .fn a {
	max-height:42px;line-height:20px;
}

.cInfo {float:right;}

#maincontent .results {
	margin-top:15px;
	clear:both;
}
#maincontent .likeResults ul.pfResult {margin-top:0px;}

#maincontent .result_head {color:#989898;font-size:10px;}
/* Headings */


#maincontent .results h2, #maincontent .likeResults h3, #maincontent #orgChart h2 {
	font-variant:small-caps;
	font-weight:bold;
}
#maincontent .results h2, #maincontent #orgChart h2 {border-bottom:2px dotted #E6E6E6;padding-bottom:0;}

#maincontent .likeResults h3 {
	font-size:1em;	
}
#maincontent #pfShowRecord .wdn_tabs, #maincontent #pfShowRecord .wdn_tabs_content {display:none;}

/* 
***************************************************

	Individual Peoplefinder Records

***************************************************
*/
.vcard {
	background:#fff;
	border:1px solid #ccd2d5;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:15px;
	min-height:170px;
	position:relative;
	width:425px;
	z-index:9;
	margin:6px auto 0 auto;
}
.vcard > a.email {
	
}

.vcard .eppa, .vcard .epa, .vcard .organization-unit, .vcard .tel, .vcf, .title {display:block;}
.vcard a.planetred_profile {
	float:left;
	margin-right:15px;
	min-width:114px;
}

.vcard .eppa, .vcard .epa {font-style:italic;font-size:0.8em;}
.vcardInfo {margin-left:129px;}
.vcard .adr, .departmentInfo .adr {
	border-left:2px solid #CCD2D5;
	padding-left:5px;
	margin:5px 0;
}

.vcard span[class=street-address] {
	display:block;
}

.vcard span[class=locality]:after {
	content: ',';
}

.vcard .country-name {
	display:none;
}

.vcard .tel, .vcard span.email, .vcard span.url, .vcard span.fax {
	background:url('images/iconContactSprite.png') no-repeat;
	padding-left:25px;
	height:20px;
}
.vcard span.email, .vcard span.url {
	background-position:0 -63px;
	display:block;
	margin-top:5px;
	margin-bottom:3px;
}
.vcard span.fax {
	background-position:0 -84px;
}
.vcard span.url {
	background-position:0 -42px;
}
.permalink {font-size:0.75em; text-transform:uppercase; font-weight:bold;}
a.email {background:none;}
a.text-vcard{padding-left:24px;padding-right:0;margin-top:2px;background-position:left -2px;float:left;clear:left;}
a.img-qrcode{padding-left:24px;padding-right:0;margin-top:2px;background: url(images/qrcode.png) no-repeat 0 0;float:left;clear:left;}
div.wdn_annotate.on{float:left;clear:left;}
div.wdn_annotate.on a{padding:0 0 0 24px;margin-top:2px;background-color:transparent;background-position:0 2px;border:none;}
img.profile_pic.medium {width:100px;height:100px;}

/* 
***************************************************

	Search form

***************************************************
*/
.directorySearch {
	width:740px;
	background:url('images/formSearchBG.png') repeat-x top;
	margin:15px 0 10px 0;
	float:left;
}
.directorySearch legend {display:none;}
#maincontent form.directorySearch ol{
	list-style:none;
	display:block;
	margin:0px;
	background:url('images/formSearchEnds.png') no-repeat 0 -58px;
	position:relative;
}
.directorySearch ol li:first-child{
	background:url('images/formSearchEnds.png') no-repeat top right;
	height:46px;
	padding:0px;
	margin-left:-13px;
	margin-bottom:11px;
}
.directorySearch > fieldset > ol > li > label {
	position:absolute;
	top:-11px;
	left:16px;
	font-size:1.5em;
	color:#5c5c5c;
	cursor:text;
	background:#fff;
	padding:5px;
}
.directorySearch > fieldset > ol > li > label.sn{
	left:253px;	
}
.directorySearch ol li:first-child input[type=text] {
	width:440px;
	height:31px;
	border:1px solid #8a7c47;
	font-size:1.5em;
	color:#5c5c5c;
	padding:2px 0 0 8px;
	margin-top:10px;	
}
.directorySearch ol li:first-child input[type=text]:focus {
	-webkit-box-shadow: 0 0 1px 1px rgba(235, 239, 132, 0.5), 0 0 1px 3px rgba(235, 239, 132, 0.3);
	-moz-box-shadow: 0 0 1px 2px rgba(235, 239, 132, 0.5), 0 0 1px 3px rgba(235, 239, 132, 0.3);
	border-color:#f5e62f;
}
.directorySearch ol li:first-child input.n[type=text] {
	width:210px;
	margin-right:10px;
}
.directorySearch ol li:first-child input.s[type=text]{
	margin-right:0;	
}

.directorySearch ol li:first-child input[type=image] {
	margin-bottom:-7px;
	padding-left:5px;
}
#maincontent #searchNotice {
	display:none;
	border-top:1px solid;
	border-bottom:1px solid;
	border-color:#d7d88d;
	background:#FEFFCE;
	padding:5px 15px;
	color:#5d2401;
	font-size:0.9em;
	clear:both;
}
#maincontent #searchNotice span {
	font-weight:bold;	
	padding:2px;
	color:#000;
	background:#e6e4b1;
}
#maincontent #directoryHelp {
	float:right;
	margin-top:18px;
	width:175px;
	list-style-type:square;
}
#maincontent #directoryHelp li {
	padding:2px 0;	
}
/********************************************

Search help qTip Styles

*********************************************/

.qtip.searchHelp {
    max-width:300px;
    color:#83774b;
    font:77%/140% "Lucida Grande",Verdana,Arial;
}
.qtip.searchHelp .qtip-wrapper, .qtip.searchHelp .qtip-contentWrapper {
    background-color:#d4e4f5;
    border:1px solid #d7c47f;
}
.qtip.searchHelp .qtip-wrapper{
    border-color: #d7c47f;
}
.qtip.searchHelp .qtip-content {}
.qtip.searchHelp p {
    padding:5px;
    font-size:0.9em;
    color:#032152;
}
/* 
***************************************************

	Intro Page 

***************************************************
*/
#maincontent .intro, #maincontent .intro{
	background-image:-webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.10, rgba(255,255,255, .3)),
	color-stop(1, rgba(237,237,237, .8))
);
background-image:-moz-linear-gradient(
	center bottom,
	rgba(255,255,255, .3) 10%,
	rgba(237,237,237, .8) 100%
);
padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.intro img.profile_pic{float:left;}
h6.recordDetails {margin-top:15px;}
h6.recordDetails span {
	font-size:3.6em;
	font-weith:bold;
	display:block;
	margin-top:-6px;
}
.intro_support {
	height:150px;
	padding:10px 0 !important;
}
#maincontent .left .intro_support {
	background:url('images/samplePeople.png') no-repeat bottom right;
}