/* 
***************************************************

    Result List Listings

***************************************************
*/
#maincontent #results {min-height: 300px;margin-bottom:35px;}
#maincontent ul.pfResult {
    padding:0px;
    list-style:none;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #d0cece;
    margin-top:20px;
}
#maincontent ul.pfResult li {
    border-bottom: 1px solid #d0cece;
    border-top: 1px solid #e6e6e6;
    width:100%;
    padding: 5px 0px;
    display:inline-block;
    position:relative;
    cursor:pointer;
}
#maincontent ul.pfResult li.selected .vcard {
    cursor:default;
}
#maincontent ul.pfResult.departments li {
    cursor:auto;    
}
#maincontent ul.pfResult li div.overflow {
    min-height:47px;
    padding: 7px 5px;
    display:inline-block;
}
#maincontent ul.pfResult li.selected div.overflow {opacity:0.4;filter:alpha(opacity=40);}
#maincontent ul.pfResult li:hover, #maincontent ul.pfResult li.selected {
    background:#ecf4f9;
}
#maincontent ul.pfResult li.selected .vcard {display:none;margin:0 10px;}
#maincontent ul.pfResult .tel {display:block;}
#maincontent .on-campus-dialing {font-size:80%;text-transform:uppercase;color:#897B42;}

.planetred_profile, .recordDetails {float:left;}
.loading {
    background:url('images/loading.gif') no-repeat top left;
    height:40px;
    width:40px;
    float:left;
    position:absolute;
    right:250px;
    display:none;   
}
.recordDetails {
    margin-left:20px;
    max-width:540px;
}
.recordDetails .eppa {
    display:none;   
}
.fn a, .fn {
    font-size:18px;
    font-weight:bold;
    color:#464545 !important;
    max-height:35px;
    min-height:20px;
    overflow:hidden;
}
.departments .fn, .departments .fn a {
    max-height:42px;line-height:20px;
}

.cInfo {position:absolute;right:5px;}

#maincontent .results {
    margin-top:15px;
    clear:both;
}
#maincontent .likeResults ul.pfResult {margin-top:0px;}

#maincontent .result_head {color:#989898;font-size:10px;}
/* Headings */
#maincontent .results h3, #maincontent #orgChart h3 {border-bottom:2px dotted #E6E6E6;padding-bottom:0;}

#maincontent .likeResults h3 {
    font-size:1em;  
}
#maincontent #pfShowRecord .wdn_tabs, #maincontent #pfShowRecord .wdn_tabs_content {display:none;}