/* 
***************************************************

    Result List Listings

***************************************************
*/
#maincontent #results {min-height: 300px;margin-bottom:35px;}
#maincontent ul.pfResult {
    padding:0px;
    list-style:none;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #d0cece;
    margin-top:20px;
}
#maincontent ul.pfResult li {
    border-bottom: 1px solid #d0cece;
    border-top: 1px solid #e6e6e6;
    width:100%;
    padding: 5px 0px;
    display:inline-block;
    position:relative;
    cursor:pointer;
}
#maincontent ul.pfResult li.selected .vcard {
    cursor:default;
}
#maincontent ul.pfResult li div.overflow {
    min-height:47px;
    padding: 7px 5px;
    display:inline-block;
}
#maincontent ul.pfResult li.selected div.overflow {opacity:0.4;filter:alpha(opacity=40);}
#maincontent ul.pfResult li:hover, #maincontent ul.pfResult li.selected {
    background:#ecf4f9;
}
#maincontent ul.pfResult li.selected .vcard {display:none;margin:0 10px;}
#maincontent ul.pfResult .tel {display:block;}
#maincontent .on-campus-dialing {font-size:80%;text-transform:uppercase;color:#897B42;}

.planetred_profile, .recordDetails {float:left;}
.loading {
    background:url('images/loading.gif') no-repeat top left;
    height:40px;
    width:40px;
    float:left;
    position:absolute;
    right:250px;
    display:none;   
}
.recordDetails {
    margin-left:20px;
    max-width:540px;
}
.recordDetails .eppa {
    display:none;   
}
.fn a, .fn, .vcardInfo > a.email {
    font-size:18px;
    font-weight:bold;
    color:#464545 !important;
    max-height:35px;
    min-height:20px;
    overflow:hidden;
}
.fn .givenName, .vcardInfo > a.email .givenName {
    font-size: 60%;
    color: rgb(36, 75, 134) !important;
    text-transform: uppercase;
    font-weight: normal;
}
.departments .fn, .departments .fn a {
    max-height:42px;line-height:20px;
}

.cInfo {position:absolute;right:5px;font-size:75%;}

#maincontent .results {
    margin-top:15px;
    clear:both;
}
#maincontent .likeResults ul.pfResult {margin-top:0px;}

#maincontent .result_head {color:#989898;font-size:10px;}
/* Headings */
#maincontent .results h3, #maincontent #orgChart h3 {border-bottom:2px dotted #E6E6E6;padding-bottom:0;}

#maincontent .likeResults h3 {
    font-size:1em;  
}
#maincontent #pfShowRecord .wdn_tabs, #maincontent #pfShowRecord .wdn_tabs_content {display:none;}

/*
************************************

    Academic department alpha listing

************************************
*/
#maincontent #dir_nav {
    display:block;
    list-style:none;
    padding:0;
    margin:10px 0;
}
#maincontent ul#dir_nav li {
    display:inline;
}
#maincontent ul#dir_nav li a {
    padding:0.5% 1%;
    border:1px solid #A7CEE5;
    line-height:1;
    color:#637A88;
}
#maincontent ul#dir_nav li a:hover {
    background:#637A88;
    color:#fff;
}
#maincontent #dir_departmentListing {
    clear:none;
}
#maincontent h4.section {
    background:#65553f;
    color:#fff;
    line-height:1;
    padding:0.5% 1%;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-top:4%;
}
#maincontent h4.section span {
    float:right;
    font-size:50%;
    padding:4px;
    font-weight:normal;
}
#maincontent h4.section span a {
    color:#fff;
}
#maincontent h4.section span a:hover:before {
    content: '\21A5 ';
    font-wieght:bold;
}
#maincontent #dir_departmentListing .planetred_profile {
    display:none;
}
#maincontent #dir_departmentListing .overflow {
    min-height:0;
    padding:0;
}
#maincontent #dir_departmentListing .fn, #maincontent #dir_departmentListing .fn a {
    font-size:100%;
    line-height:140%;
    min-height:0;
    overflow:auto;
}
#maincontent #dir_departmentListing .fn .permalink {font-size:0.75em; text-transform:uppercase; font-weight:bold; margin-left:1em; color:#ba0000 !important;}
#maincontent #dir_departmentListing .fn {
    overflow:auto;
}
#maincontent #dir_departmentListing ul.pfResult li {
    border-bottom:0;
}
#maincontent #dir_departmentListing .recordDetails {margin-left:0;}