@CHARSET "UTF-8";
/*
***************************************************

        Basic page setup

***************************************************
*/
#footer {display:none;}
/* 
***************************************************

        Search form 

***************************************************
*/
.directorySearch {
    width:100%;
    margin:0px 0 10px 0;
    background:#d7c47f;
    background-image:-webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0.53, rgb(235,222,170)),
	    color-stop(0.88, rgb(215,196,127))
	);
	-webkit-border-radius:3px;
    display:inline-block;
}
.directorySearch legend {display:none;}
#maincontent form.directorySearch ol{
    list-style:none;
    display:block;
    margin:0px;
    position:relative;
}
.directorySearch ol li:first-child{
    padding:0px;
    margin-left:-13px;
    margin-bottom:0px;
}
.directorySearch label {
    display:block;
    padding-top:5px;
    color:#69581a;
    font-weight:bold;
    font-size:1.0em;
}
.advanced label {
    display:inline-block;	
}
.directorySearch input[type=text]{
    width:80%;
    border:1px solid #d7c47f;
    min-height:25px;
}
.directorySearch ol li:first-child input.n[type=text] {
    width:53%;
    margin-right:10px;
}
.directorySearch ol li:first-child input.s[type=text]{
    margin-right:0; 
}
.directorySearch input[type=image]{
    width:20px;
    margin-bottom:-5px;
}

#maincontent #directoryHelp {
	list-style-type:square;
	padding:0px;
	margin-left:15px;
	margin-bottom:12px;
	margin-top:-9px;
}
#maincontent #directoryHelp li {
	display:inline;
	margin-right:15px;
}
#maincontent #advancedSearch:focus, #maincontent #advancedSearch:hover{color:#fff !important;border-color:#c0af70;}
#maincontent #advancedSearch:active{text-shadow:none;}
/* 
***************************************************

        Intro Page

***************************************************
*/
#filters{display:none;}
#maincontent .two_col {width:46%;}
#maincontent .three_col{width:72%;}
#maincontent h6.recordDetails {
    font-size:1.6em;
    margin-left:0 !important;	
}

/* 
***************************************************

        Results List

***************************************************
*/
#results{width:320px;}
/* 
***************************************************

        Result List Listings

***************************************************
*/
#maincontent #results {min-height: 300px;}
#maincontent ul.pfResult {
    padding:0px;
    list-style:none;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #d0cece;
    margin-top:20px;
}
#maincontent ul.pfResult li {
    border-bottom: 1px solid #d0cece;
    border-top: 1px solid #e6e6e6;
    width:100%;
    padding: 5px 0px;
    display:inline-block;
}
#maincontent ul.pfResult li div.overflow {
    min-height:45px;
    padding: 7px 5px;
    cursor:pointer;
}
#maincontent ul.pfResult li.selected div.overflow {opacity:0.4;filter:alpha(opacity=40);}
#maincontent ul.pfResult li:hover, #maincontent ul.pfResult li.selected {
    background:#ecf4f9;
}
#maincontent ul.pfResult li.selected .vcard {display:none;}
.eppa, .organization-unit, .tel, .type {display:none;}
#maincontent ul.pfResult .tel {display:block;}
a.cInfo {
    display:none;	
}

.planetred_profile, .recordDetails {float:left;}
.recordDetails {
    margin-left:20px;
}
.fn a, .fn {
    font-size:14px;
    line-height:12px;
    font-weight:bold;
    color:#464545 !important;   
    max-width:220px;
    max-height:35px;
    min-height:20px;
    overflow:hidden;
}
.departments .fn, .departments .fn a {max-height:32px;line-height:14px;}
.cInfo {float:right;}

#maincontent .results {margin-top:15px;}
#maincontent .likeResults ul.pfResult {margin-top:0px;}

#maincontent .result_head {color:#989898;font-size:10px;}
/* Headings */


#maincontent .results h2, #maincontent .likeResults h3, #maincontent #orgChart h2 {
    font-variant:small-caps;
    font-weight:bold;
}
#maincontent .results h2, #maincontent #orgChart h2 {border-bottom:2px dotted #E6E6E6;padding-bottom:0;}

#maincontent .likeResults h3 {
    font-size:1em;  
}
#maincontent #pfShowRecord .wdn_tabs, #maincontent #pfShowRecord .wdn_tabs_content {display:none;}
/* 
***************************************************

        Individual Peoplefinder Records

***************************************************
*/
.vcard {
    padding:15px;
    min-height:130px;
    position:relative;
    z-index:9;
    margin:0 auto;
}
.vcard > a.email {
    
}
.vcard .eppa, .vcard .epa, .vcard .organization-unit, .vcard .tel, .vcf, .title {display:block;max-width:220px;overflow:hidden;}
.vcard a.planetred_profile {
    margin-right:15px;
    min-width:114px;
    display:block;
    float:none;
}
.vcard .eppa, .vcard .epa {font-style:italic;font-size:0.8em;}
.vcard .adr, .departmentInfo .adr {
    border-left:2px solid #b7b7b7;
    padding-left:5px;
    margin:5px 0;   
}
.vcard .tel, .vcard span.email, .vcard span.url, .departmentInfo .tel, .departmentInfo span.email, .departmentInfo span.url {
    background:url('images/iconContactSprite.png') no-repeat;
    padding-left:25px;
    height:20px;
}
.vcard span.email, .vcard span.url, .departmentInfo span.email, .departmentInfo span.url {
    background-position:0 -21px;
    display:block;
    margin-top:5px;
    margin-bottom:3px;
}
.vcard span.url, .departmentInfo span.url {
    background-position:0 -42px;
}
a.email {background:none;}
a.text-vcard{padding-left:24px;padding-right:0;background-position:left -2px;margin:0;display:block;}
a.img-qrcode{padding-left:24px;padding-right:0;background: url(images/qrcode.png) no-repeat 0 0;margin:141px 0 0 -122px;float:left;}
